body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

table, th, td {
  border-collapse: collapse;
  border: 1px solid #ccc;
  padding: 3px;
}

table {
  width: 250px;
}

table th {
  font-weight: bold;
  background: #3f3f3f;
  color: #ffffff;
}

table .td-btn {
  width: 40px;
  padding: 0px;
}

table .th-btn {
  width: 40px;
}


tr:nth-child(even) {
  background: #d9d9d9;
}