<!DOCTYPE html>
<html>
  <head>
    <title>Todo</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Todo</h1>
    <p>ユーザー選択 <select id='user'></select></p>
    <p>
      <input type='text' id='text' />
      <input type='submit' id='add' value='追加' />
    </p>
    <p id='list'></p>
    <script src='javascripts/todo.js'></script>
  </body>
</html>
